<p>
  <a href="/j42jvn590H23nfnuRVJNW">
    <b>Back to Previous Page</b>
  </a>
</p>
<br>
<br>

<p><b>Id: </b><%= @current_lead.id %></p>
<p><b>Name: </b><%= @current_lead.name %></p>
<p><b>Email: </b><%= @current_lead.email %></p>
<p><b>Phone: </b><%= @current_lead.phone_number %></p>
<p><b>Gender Preference: </b><%= @current_lead.gender_pref %></p>
<p><b>Transmission preference: </b><%= @current_lead.transmission_pref %></p>
<p><b>Location: </b><%= @current_lead.location %></p>
<p><b>Hours Completed: </b><%= @current_lead.hours_completed %></p>
<p><b>Would like to get license by: </b><%= @current_lead.license_by %></p>
