
<header>

  <div id="triangle_pattern">
    <!-- <img src="/images/triangle_pattern.png" alt=""> -->
  </div>

  <div class="nav">
    <div class="nav_col_1">
      <a href="/">
        <!-- <img src="images/logo.png" alt="" class="logo"> -->
        <%= image_tag("logo.png") %>
      </a>
    </div>
    <div class="nav_col_2">
      <ul id="nav_button_holder">
        <!-- <li id="benefit"><span class="nav_span">What we're about</span></li>
        <p class="nav_divider">/</p> -->
        <li>Why We're Different</li>
        <p class="nav_divider">/</p>
        <li>Pass Guarentee</li>
        <p class="nav_divider">/</p>
        <li>Our Instructors</li>
        <p class="nav_divider">/</p>
        <li>Pricing</li>
        <!-- <a target="_blank" href="https://www.exceldriveschool.com.au/first-time-pass-guarantee">
          <li id="pass_guarentee"><span class="nav_span">Pass guarantee</span></li>
        </a>
        <p class="nav_divider">/</p>
        <a target="_blank" href="https://www.exceldriveschool.com.au/driving-lessons-melbourne">
          <li id="pricing"><span class="nav_span">Pricing</span></li>
        </a> -->
        <!-- <p class="nav_divider">/</p> -->
        <!-- <li id="testimonials"><span class="nav_span">Testimonials</span></li> -->
      </ul>
    </div>
    <div class="nav_col_3">
      <a href="https://www.facebook.com/ExcelDrive/" target='_blank'>
        <p id="nav_facebook"><span class="fb_span"><i class="fa fa-facebook" aria-hidden="true"></i>Excels Drive on Facebook</span></p>
      </a>
      <% if @urloffer != nil %>
        <a href="/more-info?referred_by=<%= @urloffer %>">
      <% end %>
      <% if @urlshare != nil %>
        <a href="/more-info?share_by=<%= @urlshare %>">
      <% end %>
      <% if @urlshare == nil && @urloffer == nil %>
        <a href="/booking-address">
      <% end %>
        <div class="free_lesson_btn">
            <p>Book Now</p>
        </div>
      </a>
    </div>
  </div>

  <div class="header_content">

    <div class="hero_container">

      <div class="hero_left">
        <h1><span id="hero_highlight">Get your license</span> <br>today with <span id="hero_attributes"></span></h1>
        <p id="hero_p">Excel Drive boasts some of the finest instructors in Australia for that important milestone of learning to drive.</p>
        <% if @urloffer != nil %>
          <a href="/more-info?referred_by=<%= @urloffer %>">
        <% end %>
        <% if @urlshare != nil %>
          <a href="/more-info?share_by=<%= @urlshare %>">
        <% end %>
        <% if @urlshare == nil && @urloffer == nil %>
          <a href="/booking-address">
        <% end %>
          <div class="hero_cta">
            <p>Book Now</p>
          </div>
        </a>
      </div>

      <div class="hero_right">

        <!-- <img id="bg_shape_1" src="images/bg_shape_1.png" alt=""> -->
        <!-- <img id="hero_feature" src="/images/hero_feature.png" alt=""> -->

      </div>

    </div>

  </div>

  <!-- <div class="read_more">
    <p>More about us</p>
    <img src="images/scroll.png" alt="">
  </div> -->

</header>


<script>

  //Typed JS
  $(function(){
      $("#hero_attributes").typed({
        strings: ["Confidence.", "Ease.", "Speed."],
        typeSpeed: 50,
        startDelay: 2000,
        backSpeed: 25,
        backDelay: 3000,
        loop: true
      });
  });

</script>
